/* build-pc.css */

.build-pc-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.component {
  margin-bottom: 20px;
}

.component h2 {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.build-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.cart h2 {
  margin-bottom: 10px;
}

.cart ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.cart li {
  margin-bottom: 10px;
}

.cart button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart button + button {
  margin-left: 10px;
}

.user-info {
  margin-top: 20px;
}

.user-info input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* If you want to style the placeholder text */
.user-info input::placeholder {
  color: #999;
}

/* If you want to style the input when focused */
.user-info input:focus {
  border-color: #4caf50;
  outline: none; /* Remove default focus outline */
}

.pc-image {
  background-image: url('build-your-own-PC.jpg');
  background-size: contain; /* Render the whole image without cropping */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  opacity: 0.975; /* Adjust the opacity here */
}
