/* gaming-pc-styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: bl;
  margin: 0;
  padding: 0;
}

.build-pc-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: whitesmoke;
}

p {
  font-size: 1em;
  color: whitesmoke;
  text-align: center;
}

.component {
  margin-bottom: 20px;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

li:nth-child(odd) {
  background-color: #efefef;
}

/* Component CSS */
.cart {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgba(73, 70, 70, 0.275);
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 0 15px rgba(116, 115, 115, 0.1);
}

.cart h2 {
  margin-top: 0;
  font-size: 20px;
  color: rgb(56, 221, 27);
  font-weight: bold;
}

.cart ul {
  list-style-type: none;
  color: rgb(16, 16, 143);
  padding: 0;
}

.cart li {
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(1, 1, 1);
  font-weight: lighter;
}


.cart button {
  display: inline-block;
  padding: 12px 30px;
  background-color: #007bff; /* Blue accent color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Retain the margin-left */
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}


.cart button:hover {
  background-color: #0056b3; /* Darker blue hover color */
}

.primary-storage-select option,
.secondary-storage-select option {
  background-color: white; /* Dark background color */
  color: black; /* Text color */
  opacity: 0.15; /* Set opacity to 15% */
  padding: 10px; /* Add padding to increase spacing */
}


